<center>
<div class="container" style="background-color:white">
<p id="notice"><%= notice %></p>

<p><h1 style="font-style: italic;text-align:center">
  <%= @face.baslik %>
</p>
<%= image_tag @face.resim.url(:large), :style => "width:900px" %>

<p style="text-align:justify">
    <br>
  <%= @face.icerik %>
</p>

<p style="text-align:left">
  <strong>Ekleyen:</strong>
  <%= @face.user.email %>
</p>
<small>
<%= link_to 'Anasayfa', faces_path %> |
<%= link_to 'Düzenle', edit_face_path(@face) %> |
<%= link_to 'Sil', @face, method: :delete, class:"" , data: { confirm: 'Emin?'}%>
</small></center>
</div>
